/* Francheska Guzman 
CodeBridge Cycle 2 Cohort 4
March 13, 2017
*/
body {
	margin: 0;
	background-image: url("images/kitchen.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: #000000;
}

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Source+Sans+Pro');

#myClock {
	width: 100%;
	margin-top: 10%;
	text-align: center;
	position: fixed;
}

#clock {
	margin: 0px 10px 0px 10px;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 100px;
	color: #FFFFFF;
}

table {
	margin: auto;
	width: 100%;
	font-size: 20px;
	color: #FFFFFF;
}

h1 {
	font-size: 35px;
	color: #FFFFFF;
	margin: 5px;
	font-family: 'Source Sans Pro', sans-serif;
}

#h, #m, #ampm {
	margin: 20px;
	padding: 20px; 
	border: 1px solid #FFFFFF; 
	border-radius: 5px;
	width: 110px;
	font-size: 30px;
	background-color: #FFFFFF;
	opacity: .4;
}

#h:hover, #m:hover, #ampm:hover {
	background-color: #468EfC;
	border: 1px solid #9FC3F9;
	margin: 5px 15px 5px 15px;
	font-size: 35px;
	width: 120px;
	opacity: 1;
	transition: .5s;
}

.myAlarm {
	width: 20px;
	margin: 10px;
}
